.chat-screen{
    background-color: #abc1d1;
}
.chat-screen .alt-header{
    top: 0;
    position: fixed;
    background-color: #abc1d1;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
@keyframes fadeIn{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.main-chat{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .3s linear;
}
.chat-screen .status-bar{
    z-index: 2;
}
.chat_timestamp{
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}
.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.message_author{
    margin-bottom: 5px;
    display: block;
}
.message_bubble{
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message_info{
    display: flex;
    align-items: flex-end;
}
.message_time,
.message_author{
    opacity: 0.8;
    font-size: 13px;
}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message_bubble{
    background-color: rgb(255, 234, 0);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}
.message-row--own .message_info{
    flex-direction: row-reverse;
}
.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
}
.reply .reply-column:first-child{
    width: 10%;
}
.reply .reply-column:last-child{
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 25px;  
}
.reply input{
    padding: 12px;
    width: 100%;
    border: var(--main-border);
    border-radius: 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply-column:last-child > i{
    right: 50px;
    top: 15px;
}
.reply i{
    opacity: 0.5;
}
.reply-column button {
    
    background-color: rgb(255, 213, 0);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reply-column button i{
    opacity: 1;
    
}
.reply-column button:focus
.reply-column button:active{
    outline: none;
}
.reply:focus-within .reply-column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button{
    opacity: 0;
}
.reply:focus-within input{
    width: 100%;
    transform: translateX(-10%);
}