.user-component{
    display: flex;
    justify-content: space-between;
}

.user-component,.user-component_column:first-child{
    display: flex;
    align-items: center;
}
.user-component_avatar{
    width: 70px;
    height: 70px;
    border-radius: 35%;
    margin-right: 20px;
}
.user-component_title{
    font-size: 22px;
    font-weight: 600;
}
.use-component_subtitle{
    margin-top: 5px;
    margin-left: 5px;
    color:rgba(0,0,0,0.5);
}
.user-component_avatar--xl{
    width: 80px;
    height: 80px;
}
.user-component_avatar--sm{
    width: 70px;
    height: 70px;
}
.user-component_title--not-bold{
    font-weight: 400;
}
.user-component_column:last-child{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.user-component_time{
    margin-bottom: 10px;
    display: block;
}